@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
.button {
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: Poppins;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 4px 2px;
  width: 50%;
  padding: 14px 32px;
}
.button:hover {
  background-color: #1f1d2c;
}