.header-content {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1f1d2c;
}

.header-row {
  width: 100%;
  display: flex;
}

.header-title {
  width: 15%;
}

.header-input {
  width: 60%;
  display: flex;
  align-items: center;
}

.header-search {
  background: #353440;
  border: 2px solid #353440;
  width: 60%;
  height: 35%;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
}
.header-search:focus {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.4s;
}

.header-auth {
  width: 25%;
  display: flex;
  align-items: center;
}