.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  overflow-x: hidden;
}

.side-wrapper {
  padding: 4%;
}

.side-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  white-space: nowrap;
}
.side-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.side-menu a:hover {
  color: #fff;
}
.side-menu a:not(:last-child) {
  margin-bottom: 20px;
}