.primary-color {
  color: #fff;
}

.secondary-color {
  color: #808191;
}
.secondary-color::placeholder {
  color: #808191;
}

.background-card-color {
  background-color: #252836;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
body {
  background-color: #1f1d2c;
  font-family: Poppins, Helvetica;
}

.header-content {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #1f1d2c;
}

.header-row {
  width: 100%;
  display: flex;
}

.header-title {
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-title h1 {
  margin-right: -10px;
}

.header-title img {
  z-index: -1;
}

.header-input {
  width: 60%;
  display: flex;
  align-items: center;
}

.header-search {
  background: #353440;
  border: 2px solid #353440;
  width: 60%;
  height: 35%;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  transition: all 0.4s;
}
.header-search:focus {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.4s;
}

.header-auth {
  width: 25%;
  display: flex;
  align-items: center;
}
.header-auth ul {
  display: none;
  color: white;
  position: absolute;
  top: 50px;
}
.header-auth ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: -40px;
}
.header-auth ul a:hover {
  color: #fff;
  border-radius: 10px;
  background: #353440;
}
.header-auth button:hover > ul {
  display: flex;
  background-color: #252836;
  border-radius: 12px;
  width: 250px;
  margin-left: -35px;
  flex-direction: column;
}

.main-content {
  margin-top: 6rem;
}

.main-section {
  margin-left: 15%;
}

.discover-gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: 40% 40%;
}

.discover-item {
  grid-column: span 1;
}

.most-watches-gallery {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 17rem), 1fr));
}

.most-watches-item {
  grid-column: span 1;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  overflow-x: hidden;
}

.side-wrapper {
  padding: 4%;
}

.side-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.side-menu {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  white-space: nowrap;
}
.side-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0px;
}
.side-menu a:hover {
  color: #fff;
  border-radius: 10px;
  background: #353440;
}
.side-menu a:not(:last-child) {
  margin-bottom: 5px;
}

.active {
  color: #FFD15C;
  font-weight: bold;
}
.active:hover {
  color: #FFD15C !important;
}

.card {
  border-radius: 20px;
  transition: all 0.3s ease-out;
}
.card .card-img {
  border-radius: 20px 20px 0px 0px;
}
.card .card-img:hover {
  opacity: 0.3;
  transition: 0.5s ease;
}
.card:hover {
  transform: translateY(-5%);
  transition: 0.5s;
}
.card:hover .primary-color {
  transition: color 0.5s;
  color: #FFD15C;
}

.card-content {
  margin: auto;
  width: 80%;
  margin-top: -5%;
  padding-bottom: 1%;
}

.card-img {
  border-radius: 20px;
}

.size-width-s {
  width: 18.75rem;
}

.size-height-s {
  height: 12.5rem;
}

.card-click {
  text-decoration: none;
}

.button {
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: Poppins, Helvetica;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 4px 2px;
  width: 50%;
  padding: 14px 32px;
}
.button:hover {
  background-color: #1f1d2c;
  font-weight: bold;
}

.center-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  margin-top: 20px;
  --size: 120px;
  --border: 8px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: relative;
  border: var(--border) solid #2d2d2d;
  border-right: var(--border) solid #FDDC1E;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}