@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

:root{
    --background-color: #1f1d2c; 
    --primary-color: #fff;
    --secondary-color: #808191;
}

body {
    background-color: var(--background-color);
    font-family: Poppins;
}

.header-content{
    /* background-color: violet; */
}

.header-row{
    width: 100%;
    display: flex;
}

.header-title{
    /* background-color: yellowgreen; */
    width: 15%;
}

.header-input {
    /* background-color:tomato; */
    width: 60%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.header-search{
    background: #353440;
    border: 2px solid #353440;
    width: 60%;
    height: 35%;
    outline:none;
    border-radius:5px;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}


.secondary-color::placeholder {
    color: var(--secondary-color);
}
