@use "./root" as root;

.primary-color {
  color: root.$primary-color;
}

.secondary-color {
  color: root.$secondary-color;
  &::placeholder {
    color: root.$secondary-color;
  }
}

.background-card-color {
  background-color: root.$background-card;
}
