@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

$background-color: #1f1d2c; 
$primary-color: #fff;
$secondary-color: #808191;
$font-family: Poppins;
