@use "./root" as root;

.card {
  border-radius: 20px;
  transition: all 0.3s ease-out;
  .card-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 100% 10%;
    border-radius: 20px 20px 0px 0px;
    &:hover {
      opacity: 0.3;
      transition: 0.5s ease;
    }
  }
  &:hover {
    transform: translateY(-5%);
    transition: 0.5s;
    .primary-color {
      transition: color 0.5s;
      color: root.$yellow-color;
    }
  }
}

.card-content {
  margin: auto;
  width: 80%;
  margin-top: -5%;
  padding-bottom: 1%;
}

.card-img {
  border-radius: 20px;
}

.size-width-s {
  width: 18.75rem;
}

.size-height-s {
  height: 12.5rem;
}

.card-click {
  text-decoration: none;
}
