
.header-content{
    background-color: aquamarine;
}

.header-row{
    width: 100%;
    display: flex;
}

.header-title{
    width: 15%;
}

.header-input {
    width: 60%;
    display: flex;
    align-items: center;
}

.header-search{
    background: #353440;
    border: 2px solid #353440;
    width: 60%;
    height: 35%;
    outline:none;
    border-radius:5px;
}
